{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Tasks" %}</h1>

<a class="btn btn-primary mb-3" href="{% url 'task_create' %}" role="button">{% trans "Create task" %}</a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form method="get">
      <div class="mb-3">
        <label for="id_status" class="form-label">{% translate "Status" %}</label>
        {{ filter.form.status }}
      </div>
      <div class="mb-3">
        <label for="id_executor" class="form-label">{% translate "Executor" %}</label>
        {{ filter.form.executor }}
      </div>

      <div class="form-check mb-3">
        {{ filter.form.user_tasks }}
        <label for="id_user_tasks" class="form-check-label">{% translate "Only your tasks" %}</label>
      </div>
      <button type="submit" class="btn btn-primary">{% translate "Show" %}</button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Author" %}</th>
    <th>{% trans "Executor" %}</th>
    <th>{% trans "Created" %}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
    <td>{{task.id}}</td>
    <td>
      <a href="{% url 'task_detail' task.id %}">{{task.name}}</a>
    </td>
    <td>{{task.status}}</td>
    <td>{{task.author.first_name}} {{task.author.last_name}}</td>
    <td>{{task.executor.first_name|default:""}} {{task.executor.last_name|default:""}}</td>
    <td>{{task.date_joined|date:"d.m.Y H:i"}}</td>
    <td>
      <a href="{% url 'task_update' task.id %}">{% trans "Edit"%}</a>
      <br>
      <a href="{% url 'task_delete' task.id %}">{% trans "Delete"%}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}